body{
  
  background: #feffff; 
  margin: 0%;
  padding: 0%;
 
}

header{
  padding: 2%;
  width: 98%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10%;

}

h1{ 
   box-shadow: 0px 20px 48px -9px rgba(0,0,0,0.23);
  padding-left: 2%;
  font-size: 3em;
  font-family: sans-serif;
  width: 20%;
  
}

main{
  
  color:black;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-family: sans-serif;
}

img{  
  

  
  width: 32vw;
  height: 39vh;
}
.gestion:hover .overlay { 
  opacity: 0.9; 
  color: rgb(255, 255, 255);

  transform: translate(20px, -20px)
}  
.cuir:hover .overlay { 
  opacity: 0.9; 
  color: rgb(255, 255, 255);
  transform: translate(20px, -20px)
}  
.amenagement:hover .overlay { 
  opacity: 0.9; 
  color: rgb(255, 255, 255);
  transform: translate(20px, -20px)
}  
.overlay{ 
  position: absolute; 
  transition: .7s ease; 
  width: 32vw;
  height: 39vh;
  top: 25vh; 
  border: rgb(255, 255, 255) 1px solid;
     box-shadow: 0px 20px 48px -9px rgba(0,0,0,0.23);
  background-color: rgb(15, 15, 15); 
opacity: 0;
} 

.rse{
  font-weight: small;
  width:97.3%;
  text-align: center;
  background-color: green;
  margin: 1.4%;
  text-decoration: none;
  color: aliceblue;
 
}

main a{
  text-decoration: none;
  color: black;
  
}
.rse a{

  padding: 2%;
  text-decoration: none;
  color: white;
  font-family: sans-serif;


 
}
h3{
  font-size: 2em;

}

:root {
  --modal-duration: 1s;
  --modal-color: #00213d;
}



.button {
  background: #59ca42;
  padding: 1em 2em;
  color: rgb(0, 0, 0);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: x-large;
}

.button:hover {
  background: #10a549;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 10% auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}



.modal-header {
  background: #10a549;
  padding: 15px;
  color: rgb(255, 255, 255);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body {
  padding: 10px 20px;
  background: rgb(255, 255, 255);
}



.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: rgb(255, 255, 255);

}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}